.stars {
    height: 250px;
    width: 800px;
}

.star {
    float: right;
    height: 160px;
    width: 160px;
    background-image: url(./images/star.svg);
    background-size: cover;
}

.star:hover~.star {
    background-image: url(./images/star-filled.svg);
    background-size: cover;
}

.star:hover {
    background-image: url(./images/star-filled.svg);
    background-size: cover;
}