.main__flags {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 600px;
}

.main__flags > div {
    position: absolute;
}

.main__flags__first {
    top: 15px;
    left: 60px;
}

.main__flags__second {
    bottom: 15px;
    left: 50px;
}

.main__flags__third {
    top: 13px;
    right: 30px;
}

.main__flags__fourth {
    bottom: 30px;
    right: 60px;
}

.main__flags__fifth {
    top: 60px;
    left: 120px;
}

.main__flags > div:hover {
    z-index: 1;
}