header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #F2F2F2;
    z-index: 2;
}

.header__image {
    height: 70px;
}

.header__logo,
.header__heading,
.header__line {
    position: absolute;
}

.header__logo {
    top: 5px;
    left: 50px;
}

.header__heading {
    right: 50px;
    top: 20px;
}

.header__line {
    bottom: 0;
}

.header__text {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 10px;
    color: #418FDE;
    text-shadow: 1px 1px 1px #000000;
}

.header__line {
    width: 100%;
    height: 20px;
    background-color: #418FDE;
}