* {
    padding: 0;
}

body {
    background-color: #EEF7EF;
    font-size: 25px;
}

h1 {
    font-family: 'Inria Serif', serif;
    font-variant: small-caps;
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
}

.my-photo {
    text-align: center;
}

.photo {
    border: 1px solid #000000;
    border-radius: 10%;
}

.contacts {
    text-align: center;
}

.contacts li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

.contacts img {
    height: 50px;
    width: 50px;
}

.resume {
    text-align: center;
    color: #31016B;
    font-size: 1em;
    font-family: 'Staatliches', cursive;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px #000000;
}

h2 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.2em;
}

.skills li {
    color: #085C4C;
    list-style-type: none;
    font-size: 1em;
    font-family: 'Staatliches', cursive;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.code-example {
    color: #013C5C;
    font-size: 1em;
     font-family: 'Staatliches', cursive;
     text-align: center;
     text-shadow: 1px 1px 1px #000000;
}

.code-example img {
     height: 50px;
     width: 50px;
}

.education li {
    text-align: center;
    list-style-type: none;
    font-size: 1em;
    font-family: 'Staatliches', cursive;
    line-height: 1.5em;
    color: #005C29;
    text-shadow: 1px 1px 1px #000000;
}

.language {
    text-align: left;
    margin-left: 20%;
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Staatliches', cursive;
    color: #1300A6;
    text-shadow: 1px -1px 1px #000000;
}

.flag-white {
    color: #F7F7F7;
}

.flag-red {
    color: #EB0038;
}

.flag-blue {
    color: #1300A6;
}

.language-level {
    font-style: italic;
    color: #EB0038;
}

.footer-info {
    text-align: center;
    font-size: 1em;
    font-family: 'Staatliches', cursive;
    text-decoration: underline;
    word-spacing: 10px;
    color: #EB0038;
    text-shadow: 1px 1px 1px #000000;
}