body {
    font-size: 15px;
}

.logo {
    text-align: right;
    width: 350px;
}

.logo img {
    height: 50px;
    width: 50px;
}

.header-name {
    width: 350px;
    font-family: 'Cabin',
    sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
}

.navigation {
    width: 700px;
}
 
.navigation a{
    margin-right: 30px;
    font-family: 'Cabin',
    sans-serif;
    font-size: 1.2em;
    letter-spacing: 3px;
    text-decoration: none;
    color: #000000;
}

.header-button {
    font-family: 'Cabin',
    sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #6278DE;
    border-color: #6278DE;
    background-color: #ffffff;
}

.main-table {
     border-collapse: collapse;
}

.main-content {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-name {
    width: 1920px;
    text-align: center;
    font-family: serif;
    font-size: 4em;
    font-weight: bold;
    padding-top: 40px;
    text-shadow: 1px 1px 1px #ffffff;
}

.main-description {
    text-align: center;
    font-family: serif;
    font-size: 2em;
    text-shadow: 1px 1px 1px #ffffff;
}

.main-space {
    margin-top: 20px;
}

.starter,
.user,
.pro {
    padding-left: 15px;
    width: 350px;
    font-family: 'Lato',
    sans-serif;
    border-bottom: 2px solid #000000;
}

.starter {
background-color: #6278DE;
color: #ffffff;
}

.user,
.pro {
    background-color: #ffffff;
    color: #000000;
    text-shadow: 1px 1px 1px #000000;
}

.empty-space {
    width: 50px;
}

.rate {
    font-size: 3em;
}

.price {
    font-size: 3em;
}

.time {
    font-size: 0.3em;
    letter-spacing: 1px;
    font-weight: bold;
}

.pre-description {
    font-size: 2em;
    font-weight: bold;
}

.description {
    font-size: 1.5em;
}

.starter-footer,
.user-footer,
.pro-footer {
    padding-left: 15px;
    width: 350px;
    font-family: 'Lato',
    sans-serif;
    color: #585955;
    background-color: #ffffff;
}

.starter-footer li,
.user-footer li,
.pro-footer li {
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 45px;
}

.first-check,
.second-check,
.third-check,
.fourth-check {
    list-style-image: url(./images/check.svg);
}

.first-cross,
.second-cross {
    list-style-image: url(./images/cross.svg);
}

.first-footer-button,
.footer-button {
    text-align: center;
    width: 350px;
    background-color: #ffffff;
}

.first-footer-button button {
    padding: 15px 90px 15px 90px;
    margin: 30px 0 50px 0;
    font-size: 1em;
    font-family: 'Lato',
    sans-serif;
    font-weight: bold;
    color: #ffffff;
    border-color: #6278DE;
    background-color: #6278DE;
}

.footer-button button {
    padding: 15px 90px 15px 90px;
    margin: 30px 0 50px 0;
    font-size: 1em;
    font-family: 'Lato',
    sans-serif;
    font-weight: bold;
    color: #6278DE;
    border-color: #ffffff;
    background-color: #ffffff;
}