.main__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__info img {
    width: 65%;
}

.about-company {
    width: 80%;
}

.main__info img {
    margin-top: 30px;
}

.about-header,
.about-text {
    margin-top: 5%;
}

.about-text {
    font-size: 1.5em;
}

.main__info p:last-child {
    margin-bottom: 5%;
}