.persons,
.persons__photographer__info {
    display: flex;
    flex-direction: column;
}

.persons {
    justify-content: space-around;
    align-items: center;
}

.persons__photographer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.persons__photographer:first-of-type {
    margin: 150px 0 50px 0;
}

.persons__photographer:nth-of-type(2) {
    margin: 0 0 50px 0;
}

.persons__photographer:last-of-type {
    margin: 0 0 150px 0;
}

.persons__photographer__info {
    width: 260px;
    padding: 5px;
    text-decoration: none;
    color: #000000;
} 

.photographer__name
 {
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
}

.photographer__position,
.about-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-style: italic;
}

.persons__photographer:hover img{
    height: 90px;
    width: 90px;
    border: 5px solid #F40000;
}

.persons__photographer:hover a {
    color: #F40000;
}

@media screen and (max-width: 1030px) {
    .persons__photographer:first-of-type {
        margin: 100px 0 50px 0;
    }

    .persons__photographer:last-of-type {
        margin: 0 0 100px 0;
    }
}

@media screen and (max-width: 770px) {
    .persons__photographer:first-of-type {
        margin: 75px 0 50px 0;
    }

    .persons__photographer:last-of-type {
        margin: 0 0 75px 0;
    }

    @media screen and (max-width: 430px) {
        .persons__photographer:first-of-type {
            margin: 25px 0 25px 0;
        }

        .persons__photographer:nth-of-type(2) {
            margin: 0 0 25px 0;
        }

        .persons__photographer:last-of-type {
            margin: 0 0 25px 0;
        }
    }
}