.main__personal__info {
    height: 220px;
}

.personal__info__name .photographer__name {
    font-size: 2.1em;
}

.personal__info__name,
.personal__info__contacts {
    height: 80px;
}

.personal__portfolio__nav {
    height: 30px;
    width: 100%;
    padding-top: 10px;
}

.main__personal__portfolio {
    display: flex;
    flex-wrap: wrap;
}

.small-photo,
.medium-photo,
.large-photo {
    border: 5px solid #ffffff;
    
}

.small-photo {
    width: 14%;
}

.medium-photo {
    width: 23%;
}

.large-photo {
    width: 31%;
}

.main__personal__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal__info__name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal__info__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal__portfolio__nav a {
    text-decoration: none;
    color: #706f6f;
}

.personal__portfolio__nav a:hover {
    color: #F40000;
}

.personal__portfolio__nav li span {
    color: #000000;
    font-weight: bold;
}

.personal__portfolio__nav li {
    padding-right: 15px;
    display: inline;
    list-style-type: none;
}

.small-photo:hover,
.medium-photo:hover,
.large-photo:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
    border: 5px solid #F40000;
}

