@import "./persons.css";
@import "./personal-page-kuzhalkov.css";
@import "./info.css";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__logo__image {
    height: 60px;
}

.header__company {
    width: 100%;
}

.header__company__name,
.header__nav__link,
.header__company__name__link,
.about-header {
    font-size: 2em;
    font-variant: small-caps;
}

.header__company__name,
.header__company__name__link {
    font-weight: bold;
}

.header__nav,
.header__company {
    padding: 0 0 0 20px;
}

.header__nav__link,
.header__company__name__link {
    text-decoration: none;
    color: #000000;
}

.header__nav__link:hover,
.header__company__name__link:hover {
    color: #F40000;
}

.main {
    width: 100%;
}

.main__image {
    width: 100%;
}

.footer__follow__link {
    text-decoration: none;
}

.footer__follow__image {
    height: 25px;
    padding: 0 0 0 10px;
}

@media screen and (max-width: 870px) {
    .header__company {
        width: 0;
        padding: 0;
    }

    .header__company__name,
    .header__company__name__link {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .header__nav__link {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 590px) {
    .header__nav__link {
        font-size: 1.2em;
        font-weight: bold;
    }

    .header__logo {
        width: 0;
    }

    .header__logo__image {
        display: none;
    }

    .header {
        justify-content: space-around;
    }

   .header__nav {
       padding: 0;
       margin-right: 4%;
   }

   .footer {
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
   }

   .main__personal__info,
   .personal__info__name,
   .personal__info__contacts,
   .about-company {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .about-header,
   .about-text {
       font-size: 1em;
   }

   .personal__portfolio__nav a,
   .personal__portfolio__nav span {
       font-size: 0.62em;
   }
}
