@import "./src/header.css";
@import "./src/flags.css";

* {
    margin-left: 0;
    margin-right: 0;
}

body {
    background-image: url(./img/gun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    height: 1200px;
    width: 100%;
    background-color: rgba(242,242,242,0.5);
}

@media screen and (max-width:1200px) {
    .main {
        height: 1800px;
    }
}

.main__text {
    padding: 100px 10px 0 10px;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins',
    sans-serif;
}





