.main__form {
    height: 300px;
    width: 1000px;
    font-size: 20px;
}

.main__header,
.main__check {
    width: 1000px;
    clear: both;
}

.main__column {
    float: left;
    width: 300px;
    height: 30px;
}

.main__row {
    margin-left: 300px;
    width: 700px;
    height: 30px;
}

.main__text {
    width: 700px;
}

.main__select {
    width: 350px;
}

.main__textarea {
    width: 1000px;
}

@media screen and (max-width:500px) {
    .main__form {
        height: 450px;
    }

    .main__header,
    .main__check,
    .main__area {
        width: 450px;
    }

    .main__column,
    .main__row {
        margin-left: 0;
        width: 450px;
        clear: both;
    }

    .main__form,
    .main__select,
    .main__text,
    .main__textarea {
        width: 450px;
    }

    .main__row__radio {
        height: 80px;
    }

    .main__radio {
        display: block;
    }
}